<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="{{ url_for('static', filename='js/home.js') }}"></script>
    <title>License Plate Game!</title>
</head>
<body>
    <div class="modal">
        <div class="modal-content sm-3 md-4 lg-6">
            <form id="start" action="/start_trip" method="post">
                <div class="row">
                    <p class="label sm-4 md-2 lg-5">Name your trip!</p>
                    <input class="sm-4 md-3 lg-6" type="text" name="tn" id="tn">
                </div>
                <div id="error" class="row"></div>
            </form>
            <button class="start sm-2 md-3 lg-6" type="submit" form="start">Start your trip!</button>
            <button class="sm-2 md-3 lg-6" id="cancel">Cancel</button>
        </div>
    </div>
    <div class="header">
        <h2 class="sm-4 md-3 lg-6">License Plate Game!</h2>
        <div class="nav sm-4 md-2 lg-4">
            <a href="/logout"><button class="sm-1 md-6 lg-12">Log Out</button></a>
        </div>
    </div>
    <div class="body">
        <h1>Hi {{user.username}}!</h1>
        {% if user.ongoing_trip() %}
        <a href="/ongoing"><button class="big_button ongoing sm-4 md-4 lg-8">Go to Ongoing Trip</button></a>
        {% else %}
        <button class="big_button start sm-4 md-4 lg-8" id="open_start">Start a New Trip!</button>
        {% endif %}
        <h3>Previous Trips</h3>
        <p>You've finished {% if user.ongoing_trip() %}{{user.trips|count - 1}}{% else %}{{user.trips|count}}{% endif %} trips!</p>
        <table>
            <colgroup>
                <col class="sm-1 md-2 lg-3">
                <col class="sm-1 md-2 lg-2">
                <col class="sm-1 md-1 lg-1">
            </colgroup>
            <thead>
                <th>Trip Name</th>
                <th>Trip Length</th>
                <th>Plates Found</th>
            </thead>
            <tbody>
                {% for trip in user.trips %}
                    {% if trip.end_time %}
                <tr class="trip" url="/trip_detail/{{trip.id}}">
                    <td>{{trip.name}}</td>
                    <td>{{trip.end_time - trip.start_time}}</td>
                    <td>{{trip.finds|count}}</td>
                </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>