<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>License Plate Game!</title>
</head>
<body>
    <h1>Log In!</h1>
    <form action="/login" method="post">
        <label for="un">Username</label>
        <input type="text" name="un" id="in">
        <label for="pw">Password</label>
        <input type="password" name="pw" id="pw">
        <button type="submit">Log In</button>
    </form>
    {% with errors = get_flashed_messages() %}
        {% for error in errors %}
    <p>{{error}}</p>
        {% endfor %}
    {% endwith %}
    <button><a href="/new_user">Create New User</a></button>
</body>
</html>