<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New User</title>
</head>
<body>
    <h1>Create a New User!</h1>
    <form action="/create_user" method="post">
        <label for="un">Username</label>
        <input type="text" name="un" id="un">
        <label for="pw">Password</label>
        <input type="password" name="pw" id="pw">
        <label for="cp">Confirm Password</label>
        <input type="password" name="cp" id="cp">
        <button type="submit">Create!</button>
    </form>
    {% with errors = get_flashed_messages() %}
        {% for error in errors %}
    <p>{{error}}</p>
        {% endfor %}
    {% endwith %}
    <button><a href="/">Log In</a></button>
</body>
</html>