<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Create New User</title>
</head>
<body>
    <div class="header">
        <h2 class="sm-4 md-3 lg-6">License Plate Game!</h2>
    </div>
    <div class="body">
        <h1>Create a New User!</h1>
        <form id="create" action="/create_user" method="post">
            <div class="row">
                <p class="label lg-3 md-2 sm-4">Username</p>
                <input class="lg-3 md-3 sm-4" type="text" name="un" id="un">
            </div>
            <div class="row">
                {% with errors = get_flashed_messages(category_filter=['un']) %}
                    {% for error in errors %}
                <p class="error">{{error}}</p>
                    {% endfor %}
                {% endwith %}
            </div>
            <div class="row">
                <p class="label lg-3 md-2 sm-4">Password</p>
                <input class="lg-3 md-3 sm-4" type="password" name="pw" id="pw">
            </div>
            <div class="row">
                {% with errors = get_flashed_messages(category_filter=['pw']) %}
                    {% for error in errors %}
                <p class="error">{{error}}</p>
                    {% endfor %}
                {% endwith %}
            </div>
            <div class="row">
                <p class="label lg-3 md-2 sm-4">Confirm Password</p>
                <input class="lg-3 md-3 sm-4" type="password" name="cp" id="cp">
            </div>
            <div class="row">
                {% with errors = get_flashed_messages(category_filter=['cp']) %}
                    {% for error in errors %}
                <p class="error">{{error}}</p>
                    {% endfor %}
                {% endwith %}
            </div>
        </form>
        <button class="sm-4 md-2 lg-3" type="submit" form="create">Create!</button>
        <a href="/"><button class="sm-4 md-2 lg-3">Log In Previous User</button></a>
    </div>
</body>
</html>