<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trip_detail.css') }}">
    <title>{{trip.name}}</title>
</head>
<body>
    <div class="header">
        <h2 class="sm-4 md-3 lg-6">License Plate Game!</h2>
        <div class="nav sm-4 md-2 lg-4">
            <a href="/home"><button class="sm-1 md-6 lg-12">Home</button></a>
            <a href="/logout"><button class="sm-1 md-6 lg-12">Log Out</button></a>
        </div>
    </div>
    <div class="body">
        <h1 class="sm-4 md-3 lg-8">{{trip.name}}</h1>
        <div class="stats sm-4 md-3 lg-4">
            <h3>Trip Length: {{trip.end_time-trip.start_time}}</h3>
            <h3>Plates Found: {{trip.finds|count}}</h3>
        </div>
        <table class="sm-4 md-6 lg-12">
            <colgroup>
                <col>
                <col class="sm-2 md-3 lg-7">
                <col class="sm-2 md-2 lg-4">
            </colgroup>
            <thead>
                <th></th>
                <th>Plate</th>
                <th>Time to Find</th>
            </thead>
            <tbody>
                {% for find in finds %}
                <tr>
                    <td>{{finds.index(find)+1}}</td>
                    <td>{{find.plate.place}}, {{find.plate.country}}</td>
                    <td>{{find.found_at-trip.start_time}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>